@page "/"

<PageTitle>Home</PageTitle>

<h1 class="text-center mb-3">Depreciation tracker and investment calculator</h1>

<p>
	Thank you for using the depreciation tracker and investment calculator!
</p>
